
.navbar-brand {
    font-size: 40px;
}

nav {
    background-color: var(--main-color) !important; 
    border-radius: 0px 0px 15px 15px !important;
}

.nav-item {
    padding: 20px !important;
} 

.nav-item a {
    color: #fff !important;
    
    font-size: 18px;
}

