#client {
  padding: 100px 0;
  /* opacity: 0.8; */
  background-image: url("../../../assets/images/cta-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: initial;
}

.client-content {
}

.client-box {
  /* border: 1px solid blue; */
}

.client-box i {
  font-size: 60px;
  color: #fff;
  font-weight: 900;
}

.client-box h3 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 900;
  padding: 10px 0;
}

.client-box p {
  font-size: 35px;
  color: #fff;
  /* color: var(--main-color); */
  font-weight: 800;
}

/*  media query   */

@media screen and (max-width: 990px) {
  .client-box {
    border: 2px solid #fff;
    padding: 20px 0;
  }
}
