
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,400&family=Montserrat:wght@900&family=Raleway:ital,wght@0,400;0,900;1,700&display=swap');
  
  /* font-family: 'Raleway', sans-serif; */


#root {
  --main-color: #2196F3;
  --Sec-color : #1787E0;
  --back-color : #F3F5FA
}




* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
font-family: 'Raleway', sans-serif;

}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}


/* fonts */


